
<br><br><br><br><br><br><br>

<div class="container">
	<div class="row">
	 	<div class="whiteBoxHome padding">
	 		<h2 class="greenFont"> Smart Goal Tracker <span class="glyphicon glyphicon-check" aria-hidden="true"></span></h2><br>

	 		<h4 class="text-center" >The app that allows you to track your goals with ease. <br></h4>
	 		<h4 class="text-center"> This web app was created by Michelle McCausland as part of a college assignment - <a href="#/about"> see more </a></h4>
	 		<br>
	 	</div>
	</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
