<br><br><br><br>
<br><br><br><br>

<div class="container">
	<div class="row">
		<div class="whiteBox padding">
			<h2>About This Web App - Smart Goal Tracker</h2><hr>

			<p>This web app was designed and developed by Michelle McCausland as part of a college assignment - Enterprise Web Development in Waterford Institute of technology. This application is built using Mongo, Express, Angular and Node (MEAN Stack development).</p>
			<hr>

			<h3>Michelle McCausland - the developer</h3>
			
			<p><a target="_blank" href="http://www.mishacreatrix.com" data-toggle="tooltip" data-placement="left" title="Click me!"> mishacreatrix.com </a></p>
		</div>
	</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
