<br><br><br><br><br><br>


<div class="container whiteBox">
  <div class="row">
    <div class="page-header">
      <h2><a ng-click="$back()">{{user.username}}'s Smartgoals</a></h2>
    </div>

    <!-- smartgoal searchbar -->
    <div class="input-group">
      <input type="text" ng-model="searchSG" class="form-control" placeholder="Search for smartgoal..."> 
    </div>

    <!-- Repeats a list of user's smargoals allowing for filter based on search results and ordered by goaltitle  -->
    <div ng-repeat="smartgoal in user.smartgoals | filter:searchSG | orderBy:'goaltitle'" ng-switch="smartgoal.state" style="bordered:none" >

      <!-- Edit State -->
      <div ng-switch-when="edit">
        <h3>Goal Title: </h3><input type="text" class="form-control" ng-model="smartgoal.goaltitle" />

        <h3>Specific: </h3>
        <textarea class="form-control" placeholder="Measurable" ng-model="smartgoal.specific"  rows="5"></textarea>

        <h3>Measurable: </h3>
        <textarea class="form-control" placeholder="Measurable" ng-model="smartgoal.measurable"  rows="5"></textarea>

        <h3>Achievable: </h3>
        <textarea class="form-control" placeholder="Measurable" ng-model="smartgoal.achievable"  rows="5"></textarea>

        <h3>Relevant: </h3>
        <textarea class="form-control" placeholder="Measurable" ng-model="smartgoal.relevant"  rows="5"></textarea>

        <h3>Due Date: </h3><input type="text" class="form-control" ng-model="smartgoal.duedate" />

        <h3>Current Status: </h3>
        <select class="selectpicker" ng-model="smartgoal.currentstatus">
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        </select><br><br>
        <input type="button" class="btn btn-lg btn-success" ng-click="saveSmartgoal(smartgoal)" value="Save" />
        <input type="button" class="btn btn-lg btn-danger" ng-click="cancelEdit(smartgoal);" value="Cancel" />
        <hr>
      </div>

      <!-- Deleted State -->
      <div class="danger" ng-switch-when="deleted">
        <h2>Delete Smartgoal: {{smartgoal.goaltitle}}</h2>

        <input type="button" class="btn btn-lg btn-danger" ng-click="confirmDelete(smartgoal)" value="Confirm" />
        <input type="button" class="btn btn-lg btn-success" ng-click="undoDelete(smartgoal)" value="Undo"/>
        <hr>
      </div>

      <!-- Default State -->
      <div ng-switch-default>

        <br>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#{{smartgoal._id}}"> {{smartgoal.goaltitle}} </button>


        <div id="{{smartgoal._id}}" class="collapse">
          <h4><b>Goaltitle:</b> {{smartgoal.goaltitle}}</h4>
          <h4><b>Specific:</b> {{smartgoal.specific}}</h4>
          <h4><b>Measurable:</b> {{smartgoal.measurable}}</h4>
          <h4><b>Achievable:</b> {{smartgoal.achievable}}</h4>
          <h4><b>Relevant:</b> {{smartgoal.relevant}}</h4>
          <h4><b>Due Date:</b> {{smartgoal.duedate}}</h4>
          <h4><b>Current Status:</b> {{smartgoal.currentstatus}}</h4>

          <!-- smargoal edit button -->
          <button type="button" class="btn btn-lg btn-default">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a ng-click="editSmartgoal(smartgoal)"> Edit</a>
          </button>

          <!-- Smartgoal delete button -->
          <button type="button" class="btn btn-lg btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><a class="whiteLink" ng-click="deleteSmartgoal(smartgoal)"> Delete</a>
          </button>
        </div>
        <br>
        <hr>
      </div>
    </div>
    <br><br>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>